body {
      position: relative;
  }
  a{
  	text-decoration: none;
  }
.navbar_scroll{
	background-image: url(img/chehela_pass.jpg);
	background-size: cover;
	height: 700px;
	width: 100%;	
	color: #fff;	
}
#nav{
	padding: 3%;
	border-bottom: 1px solid #fff;
	font-weight:bold;
}
  .navbar {
      margin-bottom: 0px;
      background-color: #fff;
	  color: #383636;
	 
  }
.ul_nav{
	list-style: none;
	margin-bottom: 0px;
	margin-top: 0px;
}
.li_nav{
	float: left;
	padding-left: 3%; 
}
.dropdown-toggle{
	text-decoration: none;
	color: #383636;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
#classes{
	position: relative;
	background-image: url(img/marjari_asana.jpg);
	width: 100%;
	height: 500px;
	opacity: 0.7;
	z-index: -1;
	position: absolute;
	background-position: 50% 4.05px;
	background-attachment: fixed;
	background-size: cover;
}
#clients{
	padding: 3%;
}
button{
	background-color:#5fc7ae ;
	padding: 3px;
	border: 0px;
	font-size: 15px;
	display: block;
	margin: auto;
	margin-top: 10%;
	border-radius: 3px;
	color: #fff;
}
#viewclasses{
	background-color:transparent; 
	padding: 10px;
	border: 0px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 20px;
	margin-top: 5%;
	border-radius: 25px;
	margin-bottom: 10%;
	
}
#viewclasses:hover{
	background-color:#fff ;
	padding: 10px;
	border: 0px;
	border: 2px solid #fff;
	color: #5fc7ae;
	font-size: 20px;
	margin-top: 5%;
	border-radius: 25px;
	margin-bottom: 10%;
}
.content{
	background-color: #87CEFA;
	color: #fff;
	font-size: 18px;
}
.content_para{
	padding: 5%;
}
.viewmore{
	background-color:transparent; 
	padding: 10px;
	border: 0px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	border-radius: 25px;
	
}
.viewmore:hover{
	background-color: #fff; 
	padding: 10px;
	border: 0px;
	border: 2px solid #fff;
	color:#87CEFA;
	font-size: 15px;
	border-radius: 25px;
	
}
.we_do{
	font-size: 40px;
	color:#808080;
	font-weight: bolder;
	letter-spacing: 3px;
	padding: 3%;
	text-align: center;
}
.ques_mark{
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@-webkit-keyframes example {
    from {font-size: 40px;}
    to {font-size: 30px;}
}
h2{
	margin-top: 0px;
	margin-bottom: 0px;
}
#contact_header{
	background-color: #383636;
	color: #fff;
	padding: 1%;
	font-weight: bolder;
	text-align: center;
	letter-spacing: 4px;
	word-spacing: 4px;
}
#contact{
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
}
#map {
        width: 100%;
        height: 300px;
        background-color: grey;
      }
#footer{
	padding: 3%;
}
.social{
	font-size: 25px;
	background-color: #fff;
	color: #363636;
	z-index: 10;
}
a{
	text-decoration: none;
}

#fbsocial{
	position: fixed;
    width: 150px;
    height: 43px;
    top: 200px;
    right: -107px;
	
	background-color: #fff;
	color: #363636;
	padding: 10px;
	
}
#instasocial{
	position: fixed;
    width: 150px;
    height: 43px;
    top: 220px;
    right: -107px;
	
	background-color: #fff;
	color: #363636;
	padding: 10px;
	
}
#gogglesocial{
	position: fixed;
    width: 150px;
    height: 43px;
    top: 240px;
    right: -107px;
	
	background-color: #fff;
	color: #363636;
	padding: 10px;
	

}
#lisocial{
	position: fixed;
    width: 150px;
    height: 43px;
    top: 260px;
    right: -107px;
	
	background-color: #fff;
	color: #363636;
	padding: 10px;
	

}
#twittersocial{
	position: fixed;
    width: 150px;
    height: 43px;
    top: 280px;
    right: -107px;
	
	background-color: #fff;
	color: #363636;
	padding: 10px;


}
/* rtreat page */
#landing_text{
	text-align: center;
	padding-top: 15%;
	letter-spacing: 5px;
	font-weight: bolder;
}
.retreat_content{
	padding: 2%;

}
.date{
	background-color: #5fc7ae;
	color: #fff;
	font-weight: bold;
	padding: 4px;
	width: 150px;
}
.learn_more{
	text-decoration: none;
	color: #5fc7ae;
	font-weight: bold;
}
.more{
	border-radius: 10px;
	border:1px solid #5fc7ae ;
	color:#5fc7ae ;
	padding: 15px;
	display: inline;
	background-color:#fff;
	margin-top: 2%;
}
.more:hover{
	border-radius: 10px;
	border: 1px solid #5fc7ae ;
	background-color:#5fc7ae; 
	color:#fff ;
	padding: 15px;
	display: inline;
	margin-top: 2%;
}